@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans";
    font-style: normal; 
}

/* navigation bar */
.nav-container{
    /* border: 1px solid red; */
    width: auto;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    
}
.nav-logo-container{
    /* border: 1px solid green; */
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.gamer-g{
    color: #FF42A5;
}
.nav-logo-container h1{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.nav-logo-container img{
    width: 85px;
    height: 40px;
}
.nav-menu-container{
    /* border: 1px solid blue; */
    width: 50%;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-menu-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    /* text-align: center; */
}
.follow-menu{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 220px;
    height: 56px;
    padding-left: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow-menu img{
    cursor: pointer;
}
.follow-menu:hover{
    background-color: rgba(11, 2, 35, 0.337);
}

/* Banner section - 1st */
.first-banner-container{
    /* border: 1px solid red; */
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
    
}
.first-banner-container-content{
    /* border: 1px solid green; */
    width: 50%;
    height: auto;
    background: #FFF;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    padding-left: 80px;
    /* padding: 0 100px; */
}
.first-banner-container-content h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}
.first-banner-container-content h1{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: 750;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.same{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.fa-regular{
    color: #FF42A5;
}
.fa-solid{
    color: #FF42A5;
}
.buttons{
    margin-top: 30px;
}
.btn-primary-one{
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    /* gap: 10px;color: #FF42A5; */
    background-color: #FF42A5;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    /* background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%)); */
}
.btn-primary-one:hover{
    background-color: rgb(195, 179, 245);
}
.btn-primary-two{
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    /* gap: 10px; */
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.btn-primary-two:hover{
    background-color: turquoise;
}

/* Banner section - 2nd */
.first-banner-container-img{
    /* border: 1px solid blue; */
    width: 50%;
}
.first-banner-container-img img{
    height: 650px;
    width: 650px;
}


/* Second banner */
.second-banner-container{
    /* border: 1px solid tomato; */
    width: auto;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    
}
.second-banner-container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
    margin-left: 50px;

}
.second-banner-container-content img{
    width: 800px;
    height: 500px;
}
.second-banner-container-description{
    /* display: flex;
    flex-direction: column;
    justify-content: ; */
    text-align: right;
    /* margin-right: 250px; */
}
.second-banner-container-description h3{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second-banner-container-description p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
}
.purpose p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.purpose h4{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}


/* Online games */
.online-games{
    /* border: 1px solid tomato; */
    width: auto;
    height: 600px;
    text-align: center;
    /* align-items: center; */
}
.online-games-content h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}
.funny-vid{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.online-games-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    padding-bottom: 20px;
}

.online-games-img{
    display: flex;
    justify-content: center;
    /* gap: 0px; */
}

.online-games-img-container img{
    width: 300px;
    height: 350px;
}
.online-games-img-container p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    width: 342px;
    /* text-align: left; */
}


/* online play section */
.play-section{
    /* border: 1px solid tomato; */
    width: 1130px;
    height: 550px; 
    /* text-align: left; */
    margin-left: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 265px; */
}
.play-section-desc{
    /* border: 1px solid green; */
    height: 275px;
    width: 350px;
    text-align: right;
}
.play-instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-section-desc h1{
    color: #0B0223;
    font-size: 41px;
    font-weight: 700;

}
.play-section-desc p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.play-section-img{
    /* border: 1px solid black; */
    width: 650px;
    height: 550px;
}
.img1{
    width: 500px;
    height: 90%;
    margin-left: 150px;
}
.img2{
    width: 290px;
    height: 280px;
    /* margin-bottom: 500px; */
    position: relative;
    bottom: 220px;
}

/*  */
.play-section-two{
    /* border: 1px solid tomato; */
    width: 1310px;
    height: 550px; 
    margin: 100px;
    /* margin-top: 100px;
    margin-left: 280px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-section-two-img{
    /* border: 1px solid black; */
    width: 700px;
    height: 550px;
}
.two-img1{
    width: 570px;
    height: 90%;
}
.two-img2{
    width: 275px;
    height: 260px;
    /* margin-bottom: 500px; */
    position: relative;
    bottom: 202px;
    margin-left: 430px;
}

.play-section-two-desc{
    /* border: 1px solid green; */
    height: 275px;
    width: 400px;
    text-align: left;
}
.play-section-two-desc h1{
    color: #0B0223;
    font-size: 44px;
    font-weight: 700;
    /* margin-bottom: 5px; */
    margin-top: 5px;
    /* line-height: 60px; */
}
.play-games-online{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-section-two-desc p{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

/* careers section */
.careers{
    /* border: 1px solid tomato; */
    width: auto;
    height: 720px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    display: flex;
    align-items: center;
}
.career-description{
    /* border: 1px solid green; */
    width: 50%;
    height: auto;
    /* margin-left: 100px; */
    padding-left: 100px;
    color: #FFF;
    /* background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat; */
}
.career-description h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    /* line-height: 60px; 125% */
}
.career-description p{
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
    /* line-height: 30px; */
}

.careers-item{
    /* border: 1px solid black; */
    width: auto;
    height: 240px;
    display: flex;
    
}
.careers-item-name{
    /* border: 1px solid black; */
    width: 50%;
    height: 240px;
    font-size: 16px;
    font-weight: 500;
}
.careers-item-location{
    /* border: 1px solid black; */
    width: 50%;
    height: 240px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;

}
.see-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FFF;
    color: #FF42A5;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}
.see-btn:hover{
    background: orchid;
    color: white;
}

.career-photo{
    /* border: 1px solid black; */
    width: 50%;
    height: auto;
}
.career-photo img{
    width: 750px;
    height: 720px;
    flex-shrink: 0;
    cursor: pointer;
}
/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */


.games{
    /* border: 1px solid red; */
    width: auto;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    justify-content: center;
    gap: 20px;
}
.games-g{
    /* border: 1px solid blue; */
    display: flex;
    gap: 20px;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
}
.games-g:hover{
    background-color: rgba(11, 2, 35, 0.10);
}
.games-g img{
    width: 60px;
    height: 60px;
}
.games-g p{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

/*  */
.footer{
    width: auto;
    height: 600px;
    background: #0B0223;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.gamer-logo{
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
}
.gamer-logo img{
    width: 86.041px;
    height: 40px;
}
.gamer-logo h2{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.span-g{
    color: #FF42A5;
}
.footer-all a{
    text-decoration: none;
    color: white;
    /* text-align: center; */
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    margin-left: 80px;
}
.footer-icon img{
    width: 40px;
    height: 40px;
    /* gap: 500px; */
    /* margin-left: 25px; */
    /* padding: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-foot-foot{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.footer-foot p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

